{%- if site.texture.showNav -%}
<link href="/assets/css/navbar.css" rel="stylesheet" type="text/css" />
<input type="checkbox" id="menuicon">
<label for="menuicon">
	<span></span>
	<span></span>
</label>
<div class="sidebar">
	<ul>
		<li><a href="/"><b>Home</b></a></li>
		<li><a href="/404.html"><b>About</b></a></li>
		<li><a href="/404.html"><b>Security & Hacking</b></a></li>
		<li><a href="/404.html"><b>Development</b></a></li>
		<li><a href="/404.html"><b>etc.</b></a></li>
	</ul>
</div>
{%- endif -%}
