{%- if site.texture.showNav -%}
<link href="/assets/css/navbar.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
<input type="checkbox" id="menuicon">
<label for="menuicon">
	<span></span>
	<span></span>
</label>
<div class="sidebar">
	<label class="logo"><b>hackintoanetwork</b></label>
	<label class="h2">Security Lab</label>
	<ul>
		<li><a href="/"><b>Home</b></a></li>
		<!--<li><a href="/about"><b>About</b></a></li>
		<li><a href="/category"><b>Category</b></a></li>-->
	</ul>
	<label class="social-font">
		<a href="https://github.com/hackintoanetwork"><i class="fab fa-github"></i></a>
		<a href="https://www.instagram.com/hackintoanetwork/"><i class="fab fa-instagram"></i></a>
		<a href="https://twitter.com/hackintoanetwo1"><i class="fab fa-twitter-square"></i></a>
      	</label>
	<label for="menuicon"></label>
</div>
<label for="menuicon" class="background-black"></label>
{%- endif -%}
