{%- if site.texture.showNav -%}
<link href="/assets/css/navbar.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
<input type="checkbox" id="menuicon">
<label for="menuicon">
	<span></span>
	<span></span>
</label>
<div class="sidebar">
	<label class="logo"><b>hackintoanetwork</b></label>
	<a class="h2">Security Lab</a>
	<ul>
		<li><a href="/"><b>HOME</b></a></li>
		<li><a href="/about"><b>ABOUT</b></a></li>
		<li><a href="/about"><b>CATEGORY</b></a></li>
	</ul>
	<label class="social-font">
        	<i class="fab fa-github"></i>
        	<i class="fab fa-instagram"></i>
        	<i class="fab fa-twitter-square"></i>
      	</label>
</div>
{%- endif -%}
