input[id="menuicon"] {display:none;} 
input[id="menuicon"] + label {display:block; margin:20px; width:24px; height:22px; position:absolute; right:0; top: 0px; cursor:pointer; transition:all .35s;}
input[id="menuicon"] + label span {display:block; position:absolute; width: 100%; height: 3px; border-radius: 60px; background:#fff; transition:all .35s;}
input[id="menuicon"] +label span:nth-child(1) {top:0;}
input[id="menuicon"] +label span:nth-child(2) {top:50%;transform:translateY(-50%);}
input[id="menuicon"]:checked +label {z-index:2;}
input[id="menuicon"]:checked +label span {background:#0082e6;}
input[id="menuicon"]:checked +label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(50deg);}
input[id="menuicon"]:checked +label span:nth-child(2) {top:50%;transform:translateY(-50%) rotate(-50deg);}
input[id="menuicon"]:checked +label + div {right:0;}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
label.logo {
  font-size: 25px;
  line-height: 60px;
  padding-left: 50px;
  position: relative;
  left: -33px;
  bottom: -3px;
  color : white;
}
.h2 {
  font-size: 20px;
  padding-left: 50px;
  position: relative;
  left: -33px;
  bottom: 20px;
  color : white;
}
.sidebar {
  width:250px;
  height:100%;
  background:#0082e6;
  position:fixed;
  top:0;
  right:-250px;
  z-index:1;
  transition:all .35s;
}

.sidebar ul a{
  display:block;
  height:100%;
  width:100%;
  line-height:65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  text-decoration-line: none;
  list-style:none;
  box-sizing: vorder-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.social-font {
  color: white; 
  font-size: 30px;
  position: relative;
  bottom: -20px;
  left: 20px;
}
